<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">
	<div [ngClass]="{'has-error':name.invalid && name.touched}">
		<md-input placeholder="Name (100 max)" maxlength="100" class="demo-full-width"
	         name="name" [(ngModel)]="newUser.name" #name="ngModel" required>
	  		<md-hint align="end">{{name.characterCount}} / 100</md-hint>
		</md-input>
		<span *ngIf="name.invalid && name.touched">Name is required to add new user</span>
	</div>
	<div [ngClass]="{'has-error':username.invalid && name.valid && username.touched}">
		<md-input placeholder="Userame (100 max)" maxlength="100" class="demo-full-width"
	          #userame name="username" [(ngModel)]="newUser.username" #username="ngModel" required>
	  		<md-hint align="end">{{userame.characterCount}} / 100</md-hint>
		</md-input>
		<span *ngIf="username.invalid && name.touched">Userame is required to add new user</span>
	</div>
	<button md-raised-button color="primary" type="submit" [disabled]="form.invalid">
		Create User
	</button>
</form>