<div style="margin:10px;">
<header>
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand">angular2</a>
		</div>
		<div class="navbar-header">
		</div>
	</nav>	
</header>
<main>
<div class="row">
	<div class="col-sm-4">
		<ul class="list-group users-list">
		<li class="list-group-item" *ngFor="let user of items | async" (click)="selectUser(user.$key, user.name, user.username)"
		[class.active]="user===activeuser">{{user.name}} ({{user.username}}).
      <button (click)="deleteItem(user.$key)">X</button></li><!--selectUser(user.$key,user.name,user.username)-->
		</ul>
		<app-new-user (userCreated)="onUserCreated($event)"></app-new-user>
	</div>
	<div class="col-sm-8">
		<user-profile [user]="activeuser" (userUpdated)="updateItem($event)">Loading...</user-profile>
		<div class="jumbotron" *ngIf="!activeuser">
		<h1>
 			 {{title}}
		</h1>
		<p>{{message}}</p>
		</div>
	</div>
</div>
</main>
<footer class="text-center">
	copyright &copy; 2016
</footer>
</div>